@import '../../assets/colors.css';

.container {
  width: 100%;
  height: 100%;
}

a {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 0 300px;
}

.name {
  position: absolute;
  font-size: 14px;
  bottom: 0;
  height: 20px;
}

.background {
  width: 400px;
  height: 225px;
  object-fit: contain;
}
