.container {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 0 200px;
}

.name {
  position: absolute;
  font-size: 14px;
  bottom: 0;
  height: 20px;
}

.background {
  width: 100%;
  height: 100%;
}
