.primaryBackground {
  background-color: #222831;
}

.colorOne {
  /* placeholder name */
  background-color: #31363f;
}

.colorTwo {
  /* placeholder name */
  background-color: #76abae;
}

.primaryText {
  color: #eeeeee;
}
