.test {
  composes: primaryBackground from '../../assets/colors.module.css';
  composes: primaryText from '../../assets/colors.module.css';
}

.links ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
