@import '../../assets/colors.css';

.container {
  width: 75vw;
  background-color: var(--color-secondary);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
}

.cart {
  display: flex;
  flex-direction: column;
}
